<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>results</title>
  </head>
  <body>
    <h1> Your pig latin name is <%=@pigname%>!</h1>
    <img href='<%@image%>' alt="pic">
  </body>
</html>
